@font-face {
    font-family: 'OPTIDeligne-Normal';
    src: url('../fonts/OPTIDeligne-Normal.woff2') format('woff2'),
        url('../fonts/OPTIDeligne-Normal.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OPTIBerling';
    src: url('../fonts/OPTIBerling-Agency.woff2') format('woff2'),
    url('../fonts/OPTIBerling-Agency.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}



* {
    font-family: 'Montserrat', sans-serif;
}

a {
    color:#e1a87a;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

/* HEADER */

#header {
    background: #000;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin: 0 auto;
    width: 100%;
    min-height: 500px;
    flex-direction: column;
}

.header__wrapper {
    padding: 0;
    display: flex;
}

.nav__links {
    width: 100%;
    padding-top: 1em;
}

ul {
    list-style: none;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

ul li {
    color: white;
    text-transform: uppercase;
    padding-right:  1em;
}

.title {
    min-height: 300px;
    display: flex;
    align-items: center;
    padding-left: 10em;
}

.title h1 {
    font-family: 'OPTIBerling', sans-serif;
    color: white;
    max-width: 50%;
    font-weight: bold;
    font-size: 5em;
}
