/*@font-face {*/
/*    font-family: 'OPTIDeligne-Normal';*/
/*    src: url('../fonts/OPTIDeligne-Normal.woff2') format('woff2'),*/
/*        url('../fonts/OPTIDeligne-Normal.woff') format('woff');*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*}*/

@font-face {
    font-family: 'OPTIBerling';
    src: url('../fonts/OPTIBerling-Agency.woff2') format('woff2'),
    url('../fonts/OPTIBerling-Agency.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-family: 'Futura LT';
	src: url('../fonts/FuturaLT-Book.woff2') format('woff2'),
	url('../fonts/FuturaLT-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
}

/*HELPERS*/

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    color : #e1a87a;
    transition: all 1s ease-out;
}

a:hover {
    text-decoration: none;
    color: white;
}

.responsive {
	max-width: 100%;
	height: auto;
}

#content img { transition: all .2s ease-in-out; }
#content img:hover { transform: scale(1.05); }

/* HEADER */

#header {
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	margin: 0 auto;
	width: 100%;
	min-height: 60px;
	 flex-direction: row;
	justify-content: start;
	align-items: center;
	background: black;
}

.header__wrapper {
    padding: 0;
}

.nav__links {
	width: 100%;
}

.nav__links ul {
    list-style: none;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.nav__links ul li {
    color: white;
    text-transform: uppercase;
}

.fas.fa-hamburger {
	color: #e1a87a;
}

.active {
	color: white;
	border-bottom: solid white 1px;
	width: 15%;
}

.title {
    display: none;
}

button.navbar-toggler {
	display: flex;
	align-items: center;
}

.navbar-toggler p {
	color: #e1a87a;
	text-transform: uppercase;
	margin-top: 1rem;
	padding-left: 1em;
}

/*MENU BURGER*/

.burger-button {
	cursor: pointer;
	justify-content: center;
}

.burger-button .line {
	width: 20px;
	height: 2px;
	background-color: #e1a87a;
	display: block;
	margin: 3px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*SECTION 1*/

section#content {
    position: relative;
    z-index: 1;
    padding: 5em 0;
    background-color: #f0f0f0;
}

.wrapper > .wrapper__item {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.photo__wrapper img {
	max-width: 100%;
	height: auto;
	width: 65%;
	padding-bottom: 1.5em;
}

.content-wrapper {
	max-width: 67%;
	margin: auto;
}

.content-wrapper h2 {
	font-family: 'Futura LT', sans-serif;
	font-weight: bold;
	font-size: 2em;
	text-transform: uppercase;
	padding-bottom: 1em;
}

.content-wrapper p {
	font-family: 'Futura LT', sans-serif;
}

/*FOOTER*/

footer#footer {
    background-color: black;
}

.social-links {
    /*min-height: 300px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
}

.icons-rs {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.fa-linkedin, .fa-envelope, .fa-github {
    color: #e1a87a;
}

.fa-linkedin:hover, .fa-envelope:hover, .fa-github:hover {
    color: white;
}

