@media screen and (min-width: 1024px)  {

	#header {
		min-height: 500px;
	}

	.title {
		min-height: 300px;
		display: flex;
		align-items: center;
		padding-left: 10em;
	}

	.title h1 {
		display: flex;
		flex-direction: column;
	}

	.title h1 span {
		font-family: 'OPTIBerling', sans-serif;
		color: white;
		font-size: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
		font-weight: bold;
	}

	.wrapper {
		display: grid;
		grid-template-columns: auto 40% 30% auto;
		grid-column-gap: 5%;
		margin: auto;
		max-width: 80%;
	}

	.photo__wrapper {
		grid-column: 2;
	}
}
